/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

 p {
	margin-bottom: .5em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
}

a, button {
  cursor: pointer;
}

.client-tools {
  color:  #418cb3 !important;
}

i { 
  &.fa, &.fas { font-style: normal; }
}

.form-control{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.45;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-height: 36px;
}

.basic-control {
  width: 16% !important;
}

.sl-control {
  width: 35% !important;
}

.from-control {
  width: 19% !important;
}

.to-control {
  width: 19% !important;
}

.d-control {
  width: 19% !important;
}

.pymt-control {
  width: 10% !important;
}

.wp-normal {
  white-space: normal !important;
}

.bg-home {
  background: url(/images/home-bg.png) no-repeat 0 0;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  
  h1 {
    margin-top: 100px;
    font-weight: 900;
  }
}

#navbar-menu {
  .nav-item {
    .nav-link {
      color: $white;
      text-align: center;
      position: relative;

      > img {
        width: 33px;
        height: 33px;
        @media (max-width: 992px) {
          display: none;
        }
      }

      > p {
        font-size: 0.75rem;
        margin-bottom: 0px;
      }

      &.active:before {
        content: '';
        width: 100%;
        height: 5px;
        background-color: $light-blue;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
      }
    }
  }
}

#toolbar {
  font-size: $font-size-sm;
  font-weight: 500;

  .dropdown-menu {
    font-size: $font-size-sm;
    min-width: 340px;
  }

  .btn-sm {
    font-size: $font-size-sm;
  }

  .drop-right { 
    > .dropdown-menu { top: 0 !important; }
    &:after { display: none !important; }
  }
}

.custom-table {

  > thead > tr {
    background-color: $blue;
    color: $white;

    > th {
      font-weight: normal;
    }
  }

  &.table-bordered {
    > thead > tr > th {
      border-bottom: 0;
    }
  }

  > tbody > tr {
    &.selected {
      background: $light-yellow;
    }
  }

}

.custom-tabs {
  > .nav-tabs {
    background-color: $dark-blue;

    > .nav-item {
      position: relative;

      > .nav-link {
        border: 0;
        color: $white;

        &.active {
          background-color: $dark-blue;
          color: $white;

          &:before {
            content: '';
            width: 100%;
            height: 3px;
            background-color: $light-blue;
            top: auto;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
          }
        }
      }
    }
  }
}

.tab-content {
  background: $white;
  padding: 10px;
  margin-bottom: 0;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.tab-content-bg-light > .tab-content {
  background: $gray-100;
}

.custom-select {
  min-height: 36px;
  &:disabled {
    color: $black;
  }
}

.custom-select-sm {
  font-size: 100%;
  line-height: 1em;
}

.custom-select-bo {
  font-size: 100%;
  line-height: 1em;
  width: 40% !important;
}

.custom-select-pm {
  font-size: 100%;
  line-height: 1em;
  width: 15% !important;
} 

.custom-file.browse-only {

  position: absolute;
  bottom: 0;
  margin-bottom: 10px;

  > .custom-file-label {
    padding: 0;
    margin: 0;
    text-align: center;
    background: none;
    border: 1px solid #fff;

    &:after {
      position: relative;
      border: 0;
      border-radius: 0.25rem;
      background-color: map-get($theme-colors, primary);
      color: $white;
    }
  }

  &.disabled > .custom-file-label:after {
    background-color: map-get($theme-colors, secondary);
    opacity: .65;
  }
}

.form-control, .custom-select {
  &:focus {
    background: map-get($theme-colors, light-yellow);
  }
}

.col-form-label {
  line-height: 1.8;
}
