<template>
    <div class="override">
        <div class="form-row my-3">
        <div class="col-sm-12">
          <fieldset class="bg-light border p-2">
            <div class="form-row justify-content-between">
                    <div class="col-sm-10">
                            <div class="form-row">
                                    <label for="client1" class="col-md-2 col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Search:</label>
                                            <div class="col my-1">
                                                    <div class="form-row ">
                                                            <input type="text" class="col-sm-6 mr-sm-2 form-control form-control-sm" name="">
                                                            <button class="btn btn-sm btn-outline-primary">
                                                                        <i class="fa fa-file mr-1"></i>
                                                                        <span>Go</span>
                                                            </button>
                                                            &nbsp;&nbsp;
                                                            <button class="btn btn-sm btn-outline-primary">
                                                                    <i class="fa fa-file mr-1"></i>
                                                                    <span>Cancel</span>
                                                        </button>
                                                    </div>
                                                    <div class="form-row">
                                                            &nbsp;&nbsp;
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-sm-12">
                                                                <table class="table table-sm table-bordered custom-table table-dark">
                                                                        <thead>
                                                                                <tr>
                                                                                        <th>OvrrdID</th>
                                                                                        <th>Override Description</th>
                                                                                        <th>From</th>
                                                                                        <th>Status</th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td>OvrrdID</td>
                                                                                        <td>Override Description</td>
                                                                                        <td>From</td>
                                                                                        <td>Status</td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table>
                                                        </div>
                                                </div>
                                            </div>
                            </div>
                    </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    
</template>
