<template>
    <div class="bg-home w-100 h-100 d-flex justify-content-center">
        <h1 class="display-1 text-white mb-0 text-center">
            <p style="font-size: 2.488rem;" class="font-weight-normal mb-2">Welcome to</p>
            KoopCAS 3.0
        </h1>
    </div>
</template>