<template>
  <div class="stocks-listing">
    <nav class="navbar navbar-expand-lg p-0" id="toolbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" tabindex="0" id="menuDropdown-0">File</a>
        </li>
      </ul>
    </nav>

    <div align="center" class="container">
      <h1>Balance Sheet Report</h1>On-going!
    </div>
  </div>
</template>