<template>
    <div class="loans-override">

        <div class="form-row justify-content-center py-3"><div class="col-sm-6"><div class="form-row"><label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate" for="applicationDate">Search:</label><div class="col my-1"><input class="form-control form-control-sm" name="" type="text"></div></div></div><div class="col-sm-auto ml-sm-3 mt-sm-1 text-center"><button class="btn btn-sm btn-outline-primary mr-1 my-1" type="button"><i class="fa fa-search mr-1"></i><span>Go</span></button><button class="btn btn-sm btn-outline-primary mr-1 my-1" type="button"><i class="fa fa-multiply mr-1"></i><span>Cancel</span></button></div></div>

        <div class="form-row"><div class="col mt-3"><table class="table table-sm table-bordered custom-table table-dark"><thead><tr><th scope="col">OvrdID</th><th scope="col">Override Description</th><th scope="col">FROM</th><th scope="col">STATUS</th></tr></thead><tbody><tr><td>1</td><td>Test</td><td>3</td><td>4</td></tr><tr><td>1</td><td>Test</td><td>3</td><td>4</td></tr></tbody></table></div></div>

        

        </div>


</template>