<template>
    <div class="playtosave">
        <nav class="navbar navbar-expand-lg p-0 mt-2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <router-link to="/play-to-save/p2s-sixdigit-search" class="btn btn-sm btn-outline-primary mr-1">
                        <i class="fa fa-search mr-1"></i><span>Find</span>
                    </router-link>
                    
                    <!-- <button class="btn btn-sm btn-outline-primary mr-1" type="button" @click="newSixDigitWinner" v-if="this.$route.params.id">
                        <i class="fa fa-file mr-1"></i><span>Ne<u>w</u></span>
                    </button> -->

                    <!-- <button class="btn btn-sm btn-outline-secondary mr-1" type="button" disabled>
                        <i class="fa fa-pencil-alt mr-1"></i><span><u>E</u>dit</span>
                    </button> -->

                    <!-- <a href="/play-to-save/combo6winners" class="btn btn-sm btn-outline-primary mr-1">
                        <i class="fa fa-file-export mr-1"></i><span>Export Winners By Date</span>
                    </a>

                    <a href="#" class="btn btn-sm btn-outline-primary mr-1">
                        <i class="fa fa-file-export mr-1"></i><span>Export Winners By Branch</span>
                    </a> -->
                </li>
            </ul>
        </nav>

        <div class="alert alert-success mt-2" v-if="successAdd" transition="expand">Six Digit Winner Added Successfully.</div>

        <div class="alert alert-success mt-2" v-if="successEdit" transition="expand">Six Digit Winner Updated Successfully.</div>

        <div class="row">
            <div class="col-md-4">
                <fieldset class="border p-4 bg-light">
                    <form>
                        <div class="form-group">
                            <input type="date" name="selectedDate" v-model="selectedDate" id="" class="form-control">                            
                        </div>

                        <div class="form-group">
                            <a :href="'/play-to-save/combo6winnersdate/' + selectedDate" class="btn btn-sm btn-outline-primary mr-1">
                                <i class="fa fa-file-export mr-1"></i><span>Export Winners By Date</span>
                            </a>
                        </div>
                    </form>
                </fieldset>
            </div>

            <div class="col-md-4">
                <fieldset class="border p-4 bg-light">
                    <form>
                        <div class="form-group">
                            <select name="selectedBranch" v-model="selectedBranch" class="form-control">
                                <option>...</option>
                                <option v-for="branch in branches" v-bind:value="branch.branchesId" :key="branch.id">{{ branch.branchesId }} - {{ branch.branchesDesc }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <a :href="'/play-to-save/combo6winnersbranch/' + selectedBranch" class="btn btn-sm btn-outline-primary mr-1">
                                <i class="fa fa-file-export mr-1"></i><span>Export Winners By Branch</span>
                            </a>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-12">
                <fieldset class="border p-4 bg-light">
                    <div class="container">
                        <fieldset class="border p-4 bg-light mb-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">6 Digit Number</label>
                                        <input type="text" name="sixDigitNum" v-model="playtosavesix.sixDigitNumber" class="form-control" readonly>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Winning Prize</label>
                                        <input type="text" name="sixDigitWinPrize" v-model="playtosavesix.sixDigitWinPrize" class="form-control" readonly>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Date of Draw</label>
                                        <input type="date" name="sdDateOfDraw" v-model="playtosavesix.sdDateOfDraw" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset class="border p-4 bg-light">
                            <h4>List of Winner/s</h4>
                            <table class="table table-sm table-bordered table-hover custom-table">
                                <thead>
                                    <tr>
                                        <th scope="col">BR</th>
                                        <th scope="col">Document No.</th>
                                        <th scope="col">Client ID</th>
                                        <th scope="col">Client Name</th>
                                        <th scope="col">Winning Number</th>
                                        <th scope="col">Date of Draw</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="sixdigitentry in sixdigitentries" v-bind:key="sixdigitentry.id">
                                        <td>{{ sixdigitentry.ptsSdeBrCode }}</td>
                                        <td>{{ sixdigitentry.ptsSdTrDocNo }}</td>
                                        <td>{{ sixdigitentry.ptsSdClientId }}</td>
                                        <td>{{ sixdigitentry.lastName }}, {{ sixdigitentry.firstName }} {{ sixdigitentry.middleName }}</td>
                                        <td>{{ sixdigitentry.ptsSixDigitNum }}</td>
                                        <td>{{ sixdigitentry.ptsSdDateOfDraw }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                </fieldset>
            </div>
        </div>
    </div> 
</template>

<script>
import moment from "moment";

export default {
    data() {
        this.getTeller().then(res => {
            this.sixdigitwinners.tellerId = res.user.id
            return res
        })
        return {
            sixdigitwinners: {
                ptsSdWinId: "",
                ptsSdWinBrCode: "", 
                ptsSdId: "",
                docNumber: "",
                tellerId: "",
                clientAcctNum: "",
                clientName: "",
                winningNumber: "",
                prizeWon: "",
                dateOfWinning: "",
                dateTimeOfTrans: "",
            },

            playtosavesix: {
                ptsSdId: "",
                sixDigitNumber: "",
                sixDigitWinPrize: "", 
                sdDateOfDraw: "",
            },

            sixdigitwins: [],
            sixdigitentries: [],

            branches: [],

            successAdd: "",
            successEdit: "",
            readOnly: true,
            selectDisabled: true,
            selectedDate: "",
            selectedBranch: "",
        }
    },

    mounted() {
        this.paramId = this.$route.params.id;
        if (this.paramId > 0) {
            this.fetchSixDigitNumber(this.paramId);
        }

        this.six = this.$route.params.sixdigit;
        this.dateofdraw = this.$route.params.dateofdraw;
        if (this.six > 0) {
            this.fetchSixDigitEntries(this.six, this.dateofdraw);
        }
    },

    created() {
        this.fetchBranches();
    },

    methods: {
        fetchSixDigitWinners(id) {
            fetch(`/api/playtosavesixdigitwinners/${id}`)
                .then(res => res.json())
                .then(res => {
                    this.sixdigitwins = res.data;
                    console.log(this.sixdigitwins);
                })
                .catch(err => console.log(err));
        },

        fetchSixDigitNumber(id) {
            fetch(`/api/playtosavesixdigit/${id}`)
                .then(res => res.json())
                .then(res => {
                    this.playtosavesix = res.data[0];
                    console.log(this.playtosavesix);
                })
                .catch(err => console.log(err));
        },

        fetchSixDigitEntries(sixdigit, dateofdraw) {
            fetch(`/api/playtosavesixdigitentries/${sixdigit}/${dateofdraw}`)
                .then(res => res.json())
                .then(res => {
                    this.winners = [];
                    this.sixdigitentries = res.data;
                    this.sixdigitentries.map(data => {
                        this.getTeller().then(res => {
                            this.sixdigitwinners.ptsSdWinBrCode = data.ptsSdeBrCode; 
                            this.sixdigitwinners.ptsSdId = data.ptsSdeId;
                            this.sixdigitwinners.docNumber = data.ptsSdTrDocNo;
                            this.sixdigitwinners.tellerId = res.user.id;
                            this.sixdigitwinners.clientAcctNum = data.ptsSdClientId;
                            this.sixdigitwinners.clientName = data.lastName+", "+data.firstName+" "+data.middleName;
                            this.sixdigitwinners.winningNumber = data.ptsSixDigitNum;
                            this.sixdigitwinners.prizeWon = this.playtosavesix.sixDigitWinPrize;
                            this.sixdigitwinners.dateOfWinning = this.playtosavesix.sdDateOfDraw;
                            this.sixdigitwinners.dateTimeOfTrans = moment(new Date).format('YYYY-MM-DD hh:mm:ss');
                        })
                        .then(res => {
                            this.insertSixDigitWinners();
                        });
                    })
                    console.log(this.sixdigitentries);
                })
                .catch(err => console.log(err));
        },

        insertSixDigitWinners() {
            fetch("/api/playtosavesixdigitwinners", {
                method: "post",
                body: JSON.stringify(this.sixdigitwinners),
                headers: { "content-type": "application/json" }
            })
            .then(res => {
                this.sixdigitwinners.ptsSdId = "";
                this.sixdigitwinners.ptsSdWinBrCode = "";
                this.sixdigitwinners.clientAcctNum = "";
                this.sixdigitwinners.clientName = "";
                this.sixdigitwinners.winningNumber = "";
                this.sixdigitwinners.prizeWon = "";
                this.sixdigitwinners.dateOfWinning = "";
                this.sixdigitwinners.dateTimeOfTrans = "";
                this.readOnly = true;
                this.selectDisabled = true;
                this.successAdd = true;
                setTimeout(() => {
                    this.successAdd = false;
                }, 2000),
                console.log("Winners Added");
            })
            .catch(err => console.log(err));
        },

        // newSixDigitWinner() {
        //     this.readOnly = false;
        //     this.selectDisabled = false;
        //     this.sixdigitwinners.ptsSdWinBrCode = "";
        //     this.sixdigitwinners.ptsSdId = this.$route.params.id;
        //     this.sixdigitwinners.clientAcctNum = "";
        //     this.sixdigitwinners.clientName = "";
        //     this.sixdigitwinners.winningNumber = "";
        //     this.sixdigitwinners.prizeWon = "";
        //     this.sixdigitwinners.dateOfWinning = "";
        //     this.sixdigitwinners.dateTimeOfTrans = moment(new Date).format('YYYY-MM-DD hh:mm:ss');
        // },

        getTeller() {
            return axios.get('/api/profile', {
                headers: {
                Authorization: `Bearer ${localStorage.usertoken}`
                }
            })
            .then(res => {
                return res.data
            })
            .catch(err => {
                console.log(err)
            })
        },

        fetchBranches() {
            fetch("/api/branches")
                .then(res => res.json())
                .then(res => {
                    this.branches = res.data;
                    console.log(this.branches);
                })
                .catch(err => console.log(err));
        },
    }
}
</script>

<style>
.playtosave {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
</style>