<template>
    <div class="playtosave">
        <nav class="navbar navbar-expand-lg p-0 mt-2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <router-link to="/play-to-save/p2s-threedigit-search" class="btn btn-sm btn-outline-primary mr-1">
                        <i class="fa fa-search mr-1"></i><span>Find</span>
                    </router-link>

                    <!-- <button class="btn btn-sm btn-outline-primary mr-1" type="button">
                        <i class="fa fa-file mr-1"></i><span>Ne<u>w</u></span>
                    </button> -->

                    <!-- <button class="btn btn-sm btn-outline-secondary mr-1" type="button" disabled>
                        <i class="fa fa-pencil-alt mr-1"></i><span><u>E</u>dit</span>
                    </button> -->
                    
                    <!-- <a href="/play-to-save/combo3winners/" class="btn btn-sm btn-outline-primary mr-1">
                        <i class="fa fa-file-export mr-1"></i><span>Export Winners By Date</span>
                    </a>

                    <a href="#" class="btn btn-sm btn-outline-primary mr-1">
                        <i class="fa fa-file-export mr-1"></i><span>Export Winners By Branch</span>
                    </a> -->
                </li>
            </ul>
        </nav>

        <div class="alert alert-success mt-2" v-if="successAdd" transition="expand">Three Digit Winner Added Successfully.</div>

        <div class="alert alert-success mt-2" v-if="successEdit" transition="expand">Three Digit Winner Updated Successfully.</div>

        <div class="row">
            <div class="col-md-4">
                <fieldset class="border p-4 bg-light">
                    <form>
                        <div class="form-group">
                            <input type="date" name="selectedDate" v-model="selectedDate" id="" class="form-control">
                        </div>

                        <div class="form-group">
                            <a :href="'/play-to-save/combo3winnersdate/' + selectedDate" class="btn btn-sm btn-outline-primary mr-1">
                                <i class="fa fa-file-export mr-1"></i><span>Export Winners By Date</span>
                            </a>
                        </div>
                    </form>
                </fieldset>
            </div>

            <div class="col-md-4">
                <fieldset class="border p-4 bg-light">
                    <form>
                        <div class="form-group">
                            <select name="selectedBranch" v-model="selectedBranch" class="form-control">
                                <option>...</option>
                                <option v-for="branch in branches" v-bind:value="branch.branchesId" :key="branch.id">{{ branch.branchesId }} - {{ branch.branchesDesc }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <a :href="'/play-to-save/combo3winnersbranch/' + selectedBranch" class="btn btn-sm btn-outline-primary mr-1">
                                <i class="fa fa-file-export mr-1"></i><span>Export Winners By Branch</span>
                            </a>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-12">
                <fieldset class="border p-4 bg-light">
                    <fieldset class="border p-4 bg-light mb-3">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">3 Digit Number</label>
                                    <input type="text" name="threeDigitNum" v-model="playtosavethree.threeDigitNum" class="form-control" readonly>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Winning Prize Solo</label>
                                    <input type="text" name="threeDigitWinPrize" v-model="playtosavethree.threeDigitWinPrizeSolo" class="form-control" readonly>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Winning Prize Rumble</label>
                                    <input type="text" name="threeDigitWinPrize" v-model="playtosavethree.threeDigitWinPrizeRumble" class="form-control" readonly>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Date of Draw</label>
                                    <input type="date" name="tdDateOfDraw" v-model="playtosavethree.tdDateOfDraw" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="border p-4 bg-light">
                        <h4>List of Winner/s</h4>
                        <table class="table table-sm table-bordered table-hover custom-table">
                            <thead>
                                <tr>
                                    <th scope="col">BR</th>
                                    <th scope="col">Document No.</th>
                                    <th scope="col">Client ID</th>
                                    <th scope="col">Client Name</th>
                                    <th scope="col">Winning Number</th>
                                    <th scope="col">Solo/Rumble</th>
                                    <th scope="col">Date of Draw</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="threedigitentry in threedigitentries" v-bind:key="threedigitentry.id">
                                    <td>{{ threedigitentry.ptsTdeBrCode }}</td>
                                    <td>{{ threedigitentry.ptsTdTrDocNo }}</td>
                                    <td>{{ threedigitentry.ptsTdClientId }}</td>
                                    <td>{{ threedigitentry.lastName }}, {{ threedigitentry.firstName }} {{ threedigitentry.middleName }}</td>
                                    <td>{{ threedigitentry.ptsThreeDigitNum.split("").toString() }}</td>
                                    <td>{{ threedigitentry.ptsTdRumbleSolo }}</td>
                                    <td>{{ threedigitentry.ptsTdDateofDraw }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </fieldset>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";

export default {
    data() {
        this.getTeller().then(res => {
            this.threedigitwinners.tellerId = res.user.id
            return res
        })
        return {
            threedigitwinners: {
                ptsTdWinBrCode: "",
                ptsTdId: "",
                clientAcctNum: "",
                clientName: "",
                tellerId: "",
                winningNumber: "",
                prizeWon: "",
                dateOfWinning: "",
                dateTimeOfTrans: "",
                ptsSerialId: "",
                ptsStabsNumber: "",
                ptsTdAdvance: "",
                ptsTdNumOfEntries: "",
                ptsTdRumbleSolo: "",
                ptsTdTrDocNo: "",
                ptsThreeDigitNum: "",
            },

            playtosavethree: {
                ptsTdId: "",
                threeDigitNum: "",
                threeDigitWinPrizeSolo: "",
                threeDigitWinPrizeRumble: "",
                tdDateOfDraw: "",
            },

            threedigitwins: [],
            threedigitentries: [],

            branches: [],

            successAdd: "",
            successEdit: "",
            readOnly: true,
            selectDisabled: true,
            selectedDate: "",
            selectedBranch: "",
        }
    },

    mounted() {
        this.paramId = this.$route.params.id;
        if (this.paramId > 0) {
            this.fetchThreeDigitNumbers(this.paramId);
        }

        this.dateofdraw = this.$route.params.dateofdraw;
        this.three = this.$route.params.threedigit;
        if(this.$route.params.threedigit) {
            this.numdoc = this.$route.params.threedigit.replace(/\-/g, '');
        }
        if (this.three > 0) {
            this.fetchThreeDigitWinners(this.three, this.dateofdraw, this.numdoc);
        }
    },

    created() {
        this.fetchBranches();
    },

    methods: {
        // fetchThreeDigitWinners(id) {
        //     fetch(`/api/playtosavethreedigitwinners/${id}`)
        //         .then(res => res.json())
        //         .then(res => {
        //             this.threedigitwins = res.data;
        //             console.log(this.threedigitwins);
        //         })
        //         .catch(err => console.log(err));
        // },

        fetchThreeDigitNumbers(id) {
            fetch(`/api/playtosavethreedigit/${id}`)
                .then(res => res.json())
                .then(res => {
                    this.playtosavethree = res.data[0];
                    this.playtosavethree.threeDigitNum = this.playtosavethree.threeDigitNum.split("").toString();
                })
                .catch(err => console.log(err));
        },

        fetchThreeDigitWinners(threedigit, dateofdraw, numdoc) {
            fetch(`/api/playtosavethreedigitentries/${threedigit}/${dateofdraw}/${numdoc}`)
                .then(res => res.json())
                .then(res => {
                    this.winners = [];
                    this.threedigitentries = res.data;
                    this.threedigitentries.map(data => {
                        this.getTeller().then(res => {
                            this.threedigitwinners.tellerId = res.user.id;
                            this.threedigitwinners.ptsTdWinBrCode = data.ptsTdeBrCode;
                            this.threedigitwinners.ptsTdId = data.ptsTdeId;
                            this.threedigitwinners.clientAcctNum = data.ptsTdClientId;
                            this.threedigitwinners.clientName = data.lastName + ", " + data.firstName + " " + data.middleName;
                            
                            this.threedigitwinners.winningNumber = this.playtosavethree.threeDigitNum;
                            this.threedigitwinners.prizeWon = (data.ptsTdRumbleSolo === 'solo') 
                                ? this.playtosavethree.threeDigitWinPrizeSolo
                                : this.playtosavethree.threeDigitWinPrizeRumble;
                            this.threedigitwinners.dateOfWinning = this.playtosavethree.tdDateOfDraw;
                            this.threedigitwinners.dateTimeOfTrans = this.playtosavethree.tdDateTimeTrans;
                            this.threedigitwinners.ptsSerialId = data.ptsSerialId;
                            this.threedigitwinners.ptsStabsNumber = data.ptsStabsNumber;
                            this.threedigitwinners.ptsTdAdvance = data.ptsTdAdvance;
                            this.threedigitwinners.ptsTdNumOfEntries = data.ptsTdNumOfEntries;
                            this.threedigitwinners.ptsTdRumbleSolo = data.ptsTdRumbleSolo;
                            this.threedigitwinners.ptsTdTrDocNo = data.ptsTdTrDocNo;
                            this.threedigitwinners.ptsThreeDigitNum = data.ptsThreeDigitNum;
                        })
                        .then(res => {
                            this.insertThreeDigitWinners(); // execute insert winner
                        });
                    })
                })
                .catch(err => console.log(err));
        },

        insertThreeDigitWinners() {
            fetch("/api/playtosavethreedigitwinners", {
                method: "post",
                body: JSON.stringify(this.threedigitwinners),
                headers: { "content-type": "application/json" }
            })
            .then(res => {
                this.threedigitwinners.ptsTdWinBrCode = "";
                this.threedigitwinners.ptsTdId = "";
                this.threedigitwinners.clientAcctNum = "";
                this.threedigitwinners.clientName = "";
                this.threedigitwinners.tellerId = "";
                this.threedigitwinners.winningNumber = "";
                this.threedigitwinners.prizeWon = "";
                this.threedigitwinners.dateOfWinning = "";
                this.threedigitwinners.dateTimeOfTrans = "";
                this.threedigitwinners.ptsSerialId = "";
                this.threedigitwinners.ptsStabsNumber = "";
                this.threedigitwinners.ptsTdAdvance = "";
                this.threedigitwinners.ptsTdNumOfEntries = "";
                this.threedigitwinners.ptsTdRumbleSolo = "";
                this.threedigitwinners.ptsTdTrDocNo = "";
                this.threedigitwinners.ptsThreeDigitNum = "";
                this.readOnly = true;
                this.selectDisabled = true;
                this.successAdd = true;
                setTimeout(() => {
                    this.successAdd = false;
                }, 2000),
                console.log("Three Digit Winners Added");
            })
            .catch(err => console.log(err));
        },

        // newThreeDigitWinner() {
        //     this.readOnly = false;
        //     this.selectDisabled = false;
        //     this.threedigitwinners.ptsTdWinBrCode = ""; 
        //     this.threedigitwinners.ptsTdId = this.$route.params.id;
        //     this.threedigitwinners.clientAcctNum = "";
        //     this.threedigitwinners.clientName = "";
        //     this.threedigitwinners.winningNumber = "";
        //     this.threedigitwinners.prizeWon = "";
        //     this.threedigitwinners.dateOfWinning = "";
        //     this.threedigitwinners.dateTimeOfTrans = moment(new Date).format('YYYY-MM-DD hh:mm:ss');
        // },

        getTeller() {
            return axios.get('/api/profile', {
                headers: {
                Authorization: `Bearer ${localStorage.usertoken}`
                }
            })
            .then(res => {
                return res.data
            })
            .catch(err => {
                console.log(err)
            })
        },

        fetchBranches() {
            fetch("/api/branches")
                .then(res => res.json())
                .then(res => {
                    this.branches = res.data;
                    console.log(this.branches);
                })
                .catch(err => console.log(err));
        },
    }
}
</script>

<style>
.playtosave {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
</style>