<template>
<div class="capital-stock-certificate"> <div class="form-row justify-content-center pt-3"><div class="col-sm-4"><div class="form-row"><label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Client ID#:</label><div class="col-sm-4 my-1"><input class="form-control form-control-sm bg-light-yellow border-0" name="" type="number"></div></div><div class="form-row"><label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Name:</label><div class="col my-1"><input class="form-control form-control-sm bg-light-blue border-0" name="" type="text"></div></div><div class="form-row"><label class="col-sm-4 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">S/L Account Type:</label><div class="col my-1"><input class="form-control form-control-sm" name="" type="text"></div></div><div class="form-row"><label class="col-sm-4 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Available Shares:</label><div class="col-sm-3 my-1"><input class="form-control form-control-sm" name="" type="text"></div></div><div class="form-row"><label class="col-sm-4 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Series Number:</label><div class="col my-1"><input class="form-control form-control-sm" name="" type="text"></div></div><div class="form-row justify-content-center"><div class="col-sm-auto my-2"><button class="btn btn-outline-dark-blue btn-block"><i class="fa fa-history mr-1"></i><span>History</span></button></div><div class="col-sm-auto my-2 ml-auto"><button class="btn btn-outline-dark-blue btn-block"><i class="fa fa-print mr-1"></i><span>Print</span></button></div><div class="col-sm-auto my-2"><button class="btn btn-outline-dark-blue btn-block"><i class="fa fa-ban mr-1"></i><span>Cancel</span></button></div></div></div></div> </div>
</template>

<style>
   .bg-light-green {
   background-color: #20c997 !important;
   }
   .bg-light-blue {
   background-color: #6dcff6 !important;
   }
   .bg-light-pink {
   background-color: #ef80ff !important;
   }
   .bg-light-yellow {
   background-color: #fff9c4 !important;
   }
</style>