<template>
  <div class="user-access">
    <div class="mt-3">
      <div class="custom-tabs tab-content-bg-light mt-3">
        <ul role="tablist" class="nav nav-tabs nav-fill">
          <li class="nav-item">
            <a class="nav-link active" href="#general" data-toggle="tab">
              <span>General</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#transactions" data-toggle="tab">
              <span>Transactions</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mtm" data-toggle="tab">
              <span>POS/MTM</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#client" data-toggle="tab">
              <span>Client</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#loan" data-toggle="tab">
              <span>Loan</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#deposits" data-toggle="tab">
              <span>Deposits</span>
            </a>
          </li>
        </ul>
        <form @submit.prevent="register">
          <div class="tab-content">
            <div class="tab-pane active" id="general">
              <div class="alert alert-success" v-if="successAdd" transition="expand">You have registered successfully. You can now login your account.</div>
              <div class="form-row">
                <div class="col-sm-5">
                  <div class="form-check form-check-sm">
                    <input class="form-check-input" disabled type="checkbox">
                    <label class="form-check-label">Disable Access</label>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Branch:</label>
                    <div class="col my-1">
                      <select name="branchCode" v-model="branchCode" class="custom-select custom-select-sm">
                        <option v-for="branch in branches" v-bind:value="branch.branchesId" :key="branch.id">{{ branch.branchesId }} - {{ branch.branchesDesc }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Last Name:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="lname" v-model="lname" type="text">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">First Name:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="fname" v-model="fname" type="text">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Middle Name:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="mname" v-model="mname" type="text">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Suffix:</label>
                    <div class="col-sm-6 my-1">
                      <input class="form-control form-control-sm" name="sname" v-model="sname" type="text">
                    </div>
                  </div>
                  <div class="form-row mt-3">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Username:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="username" v-model="username" type="text">
                      <!-- <button class="btn btn-dark-blue btn-block p-3 my-1" disabled>
                        <i class="fa fa-key mr-1"></i>
                        <span>Change Password</span>
                      </button> -->
                    </div>
                  </div>
                  <div class="form-row mt-3">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Password:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="password" v-model="password" type="password">
                      <!-- <button class="btn btn-dark-blue btn-block p-3 my-1" disabled>
                        <i class="fa fa-key mr-1"></i>
                        <span>Change Password</span>
                      </button> -->
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Max # of Logins:</label>
                    <div class="col-sm-6 my-1">
                      <input class="form-control form-control-sm" name="maxLogins" v-model="maxLogins" type="number">
                    </div>
                  </div>
                </div>
                <div class="col">
                  <h4>Setup User Access</h4>
                  <div class="form-row my-2">
                    <label class="col-sm-3 col-form-label col-form-label-sm text-truncate text-sm-right">Current Assignment:</label>
                    <div class="col">
                      <div class="form-row align-items-center">
                        <div class="col">
                          <select name="assign" v-model="assign" class="custom-select custom-select-sm" multiple>
                            <option value="Manager">Manager</option>
                            <option value="Accountant">Accountant</option>
                            <option value="Credit Manager">Credit Manager</option>
                            <option value="Manager">Manager</option>
                            <option value="Bookkeeper">Bookkeeper</option>
                            <option value="Teller">Teller</option>
                            <option value="Cashier">Cashier</option>
                            <option value="Clerk">Clerk</option>
                            <option value="Inquiry Only">Inquiry Only</option>
                          </select>
                        </div>
                        <!-- <div class="col-auto">
                          <i class="fas fa-angle-double-right"></i>
                        </div>
                        <div class="col">
                          <select class="custom-select custom-select-sm bg-light-yellow border-0" id multiple name>
                            <option value="1" ng-reflect-value="1"></option>
                            <option value="2" ng-reflect-value="2"></option>
                          </select>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="form-row my-2">
                    <label class="col-sm-3 col-form-label col-form-label-sm text-truncate text-sm-right">Teller/Cashier Number:</label>
                    <div class="col">
                      <div class="form-row align-items-center">
                        <div class="col">
                          <select name="tellerNumber" v-model="tellerNumber" class="custom-select custom-select-sm">
                            <option v-for="(n, i) in 41" v-bind:value="i" v-bind:key="n.id">{{ i }}</option>
                          </select>
                        </div>
                        <!-- <div class="col-auto">
                          <i class="fas fa-angle-double-right"></i>
                        </div>
                        <div class="col">
                          <input class="form-control form-control-sm" name type="number">
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Level:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="level" v-model="level" type="text">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Access Expiry Date:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="expiryDate" v-model="expiryDate" type="date" @input="diffInDays">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Password Expires in:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="expireInDays" v-model="expireInDays" type="number" disabled>
                    </div>
                    <span class="col-auto col-form-label col-form-label-sm mt-1">days</span>
                  </div>
                </div>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-sm-auto my-2">
                  <button class="btn btn-success btn-block" type="submit">
                    <span>Generate Access Token</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="transactions">test2</div>

            <div class="tab-pane" id="mtm">test3</div>

            <div class="tab-pane" id="client">test4</div>

            <div class="tab-pane" id="loan">test5</div>

            <div class="tab-pane" id="deposits">test6</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      branchCode: '', 
      fname: '', 
      lname: '', 
      mname: '', 
      sname: '', 
      email: '', 
      username: '', 
      password: '', 
      level: '', 
      assign: [], 
      maxLogins: '',
      tellerNumber: '', 
      expiryDate: '', 
      expireInDays: '',

      branches: [],

      successAdd: '',
    }
  },

  created() {
    this.fetchAllBranches();
  },

  methods: {
    fetchAllBranches() {
      fetch("/api/branches")
        .then(res => res.json())
        .then(res => {
          this.branches = res.data;
          console.log(this.branches);
        })
        .catch(err => console.log(err));
    },

    diffInDays() {
      var date = moment(new Date);
      var expdate = moment(this.expiryDate);
      this.expireInDays = expdate.diff(date, 'days');
      console.log(this.expireInDays);
    },

    register() {
      axios.post('/api/register',{
        branchCode: this.branchCode,
        fname: this.fname.charAt(0).toUpperCase() + this.fname.slice(1),
        lname: this.lname.charAt(0).toUpperCase() + this.lname.slice(1),
        mname: this.mname.charAt(0).toUpperCase() + this.mname.slice(1),
        sname: this.sname.charAt(0).toUpperCase() + this.sname.slice(1),
        username: this.username,
        password: this.password,
        level: this.level.toUpperCase(),
        assign: this.assign.join(",").toString(),
        maxLogins: this.maxLogins,
        tellerNumber: this.tellerNumber,
        expiryDate: this.expiryDate,
        expireInDays: this.expireInDays,
      })
      .then((res) => {
        this.fname = ''
        this.lname = ''
        this.mname = ''
        this.sname = ''
        this.username = ''
        this.password = ''
        this.level = ''
        this.maxLogins = ''
        this.tellerNumber = ''
        this.expiryDate = ''
        this.expireInDays = ''
        setTimeout(() => {
          this.successAdd = true;
        }, 2000)
      })
    }
  }
}
</script>