<template>
  <div class="environment-branch-information">
    <nav class="navbar navbar-expand-lg p-0" id="toolbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" tabindex="0" id="menuDropdown-0">File</a>
        </li>
      </ul>
    </nav>
    <div class="pt-3">
      <div class="alert alert-success mt-2 alert-dismissible" v-if="successAddBranch" transition="expand">
        <button type="button" class="close" data-dismiss="alert">&times;</button> Branch has been added successfully.
      </div>

      <div class="custom-tabs">
        <ul role="tablist" class="nav nav-tabs nav-fill">
          <li class="nav-item">
            <a class="nav-link active" href="#general" data-toggle="tab">
              <span>General</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pos-info" data-toggle="tab">
              <span>POS Info</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#rebates-info" data-toggle="tab">
              <span>Rebates Info</span>
            </a>
          </li>
        </ul>
        <form @submit.prevent="insertBranch">
          <div class="tab-content">
            <div class="tab-pane active" id="general">
              <div class="form-row">
                <div class="col-sm-7">
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Branch:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="branchesId" v-model="branch.branchesId" type="text" placeholder="Branch Code">
                    </div>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="branchesDesc" v-model="branch.branchesDesc" type="text" placeholder="Branch Name">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Address:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="address" v-model="branch.address" type="text">
                    </div>
                  </div>
                  <div class="form-row mt-3">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Manager/OIC:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="manager" v-model="branch.manager" type="text">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Purchase Order Contact Person:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="poContactName" v-model="branch.poContactName" type="text">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Contact Numbers:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="contactNumbers" v-model="branch.contactNumbers" type="text">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Email Address:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="emailAddress" v-model="branch.emailAddress" type="email">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">TIN:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="tin" v-model="branch.tin" type="text">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">CDA REG NO:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="cdARegNum" v-model="branch.cdARegNum" type="text">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="col-sm-3 col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">Acronym:</label>
                    <div class="col my-1">
                      <input class="form-control form-control-sm" name="acronym" v-model="branch.acronym" type="text">
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-row">
                    <div class="col">
                      <div class="bg-dark m-3 text-white text-center">
                        <p>IMG</p>
                        <img alt src>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <label class="col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">PN Location:</label>
                      <textarea class="form-control form-control-sm" cols="30" name="pnLocation" v-model="branch.pnLocation" rows="10"></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <label class="col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">PN Subscribed and Sworn AT:</label>
                      <input class="form-control form-control-sm" name="pnSsAt" v-model="branch.pnSsAt" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="pos-info">
              <div class="form-row">
                <div class="col">
                  <label class="col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">POS Serial Number:</label>
                  <input class="form-control form-control-sm" name="pnSsAt" v-model="branch.posSerialNumber" type="text">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label class="col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">POS Min:</label>
                  <input class="form-control form-control-sm" name="pnSsAt" v-model="branch.posMin" type="text">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label class="col-form-label col-form-label-sm mt-1 text-sm-right text-truncate">POS Permit Number:</label>
                  <input class="form-control form-control-sm" name="pnSsAt" v-model="branch.posPermitNumber" type="text">
                </div>
              </div>
            </div>

            <div class="tab-pane" id="rebates-info">test2</div>

            <div class="d-flex justify-content-center" style="margin-bottom: 20px; margin-top: 20px;">
              <button class="btn btn-success mr-1" type="submit">
                <i class="fa fa-save mr-1"></i><span><u>S</u>ave</span>
              </button>
              
              <button class="btn btn-outline-primary" type="button">
                <i class="fa fa-times-circle mr-1"></i><span>Canc<u>e</u>l</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      branch: {
        branchesId: "",
        branchesDesc: "",
        address: "",
        manager: "",
        poContactName: "",
        contactNumbers: "",
        tin: "",
        posSerialNumber: "",
        posMin: "",
        emailAddress: "",
        posPermitNumber: "",
        isEnableRebates: "",
        rebSlcCode: 22,
        rebSltCode: 1,
        rebExpAcct: 2111001,
        isConsolidateRebateEntries: "",
        cdARegNum: "",
        acronym: "",
        pnLocation: "",
        pnSsAt: "",
        lottoNumDigt: "",
        lottoDepositLimit: ""
      },

      successAddBranch: "",
    }
  },

  methods: {
    insertBranch() {
      fetch("/api/branch", {
        method: "post",
        body: JSON.stringify(this.branch),
        headers: { "content-type": "application/json" }
      })
      .then(res => {
        this.branch.branchesId = "";
        this.branch.branchesDesc = "";
        this.branch.address = "";
        this.branch.manager = "";
        this.branch.poContactName = "";
        this.branch.contactNumbers = "";
        this.branch.tin = "";
        this.branch.posSerialNumber = "";
        this.branch.posMin = "";
        this.branch.emailAddress = "";
        this.branch.posPermitNumber = "";
        this.branch.isEnableRebates = "";
        this.branch.rebSlcCode = "";
        this.branch.rebSltCode = "";
        this.branch.rebExpAcct = "";
        this.branch.isConsolidateRebateEntries = "";
        this.branch.cdARegNum = "";
        this.branch.acronym = "";
        this.branch.pnLocation = "";
        this.branch.pnSsAt = "";
        this.branch.lottoNumDigt = "";
        this.branch.lottoDepositLimit = "";
        this.successAddBranch = true;
        console.log("Branch Added");
      })
      .catch(err => console.log(err));
    }
  }
}
</script>

<style>
.environment-branch-information {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.bg-light-green {
  background-color: #20c997 !important;
}

.bg-light-blue {
  background-color: #6dcff6 !important;
}

.bg-light-pink {
  background-color: #ef80ff !important;
}

.bg-light-yellow {
  background-color: #fff9c4 !important;
}

.custom-tab > .nav-tabs {
  background-color: #418cb3;
}

.custom-tab > .nav-tabs > .nav-item > .nav-link.active {
  color: #fff;
  background-color: #418cb3;
}

.custom-tab > .nav-tabs > .nav-item > .nav-link {
  color: #fff;
  background-color: #418cb3;
  border: 0;
}
</style>